header{
    text-align: end;
    padding: 1%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.titulo{
    margin: 2%;
}
.tabla-info{
    margin-bottom: 2%;
}

footer{
    margin-top: 2%;
}