header{
    text-align: end;
    padding: 1%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.titulo{
    margin: 2%;
}

.tabla-1{
    width: 80%;
    margin: auto;
}
.tabla-2{
    width: 80%;
    margin: auto;
}

.tabla-3{
    width: 80%;
    margin: auto;
}
.tabla-4{
    width: 80%;
    margin: auto;
}
.tabla-5{
    width: 80%;
    margin: auto;
}